@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color:  #95D2B3;
}

/* Archivo de estilos CSS */
Header {
    background-color: #55AD9B; /* Rojo brillante */
    color: rgb(255, 255, 255); /* Texto en blanco */
    padding: 20px;
    text-align: center;
  }

Card{
    background-color: rgb(12, 255, 255);
}